<main>
  <section class="text-center container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
          <img src="assets/logo-site-removebg-preview.png" class="img-logo">
        <p class="lead text-muted">O curso de Redação Fortes foi elaborado para trazer as técnicas e ferramentas para você garantir a nota 1000 no ENEM.</p>
        <p class="text-muted">O curso conta com E-book exclusivo, mapa mental e PDFs de apoio</p>
        <p class="text-muted">Ele é dividido em 3 módulos, sendo cada um com 3 videos correspondentes. O conteúdo foi pensado de acordo com as exigencias do ENEM:</p>
        <div class="card card-lista">
        <ul class="list-group list-group-numbered">
          <li class="list-group-item d-flex">Você terá acesso as informações de planejamento e estrutura da redação - Como fazer o planejamento, estrutura do texto, o que zera a prova, entre outros.</li>
          <li class="list-group-item d-flex">Você conhecerá as competências 1 e 2 e falaremos sobre a correção pelos examinadores, a gramática da Língua Portuguesa, a coerência textual e o que compreende cada competência.</li>
          <li class="list-group-item d-flex">A professora fala das competencias 3, 4 e tópico frasal - serão abordados nesse móduloa coesão, os textos motivadores, a proposta de intervenção, entre outros.</li>
        </ul>
      </div>
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/redacao.png" alt="">
            <div class="card-body">
              <p class="card-text text-center">Redação para vestibular.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/concurso.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Redação para concurso.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/mentoria.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Mentoria.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/linguaportuguesa-capa2.jpg">
            <div class="card-body">
              <p class="card-text text-center">Língua Portuguesa</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
