<main>
  <section class="text-center container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
          <img src="assets/logo-site-removebg-preview.png" class="img-logo">
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/redacao_Easy-Resize.com.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Redação para vestibular.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/concurso.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Redação para concurso.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/mentoria.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Mentoria.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/linguaportuguesa-capa2.jpg">
            <div class="card-body">
              <p class="card-text text-center">Língua Portuguesa</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ir ao Curso!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
