<div class="container btn-voltar">
    <div class="row">
      <span class="d-flex align-items-center"><a href="#"> <i class="fa fa-arrow-circle-left f-5"> </i></a>&nbsp;Voltar</span>
    </div>
</div>
<section class="content py-5 text-center">
  <div class="row card-apresentacao">
            <div class="col">
              <section>
                <h5 class="mb-5 mt-5">Quem é a professora?</h5>
              </section>
                <p class="text-center texto-descricao">Fabiani Fortes é formada em Letras e Respectivas Literaturas.</p>
              <div class="d-flex fw-bold">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex ">Possui Pós-graduação em Ensino da Gramática.</li>
                    <li class="list-group-item d-flex">Experiência em curso pré-vestibular.</li>
                    <li class="list-group-item d-flex">Colunista Social na Revista Diário de Bordo, onde fala sobre educação.</li>
                    <li class="list-group-item d-flex">Funcionária Publica Federal.</li>
                    <li class="list-group-item d-flex">Professora e CEO do curso de Redação Fortes.</li>
                  </ul>
              </div>
            </div>
        <div class="col-5 d-flex justify-content-around">
          <img src="assets/professora-removebg-preview.png" alt="Imagem professora Fabiani">
        </div>
  </div>
</section>
