<div class="row">
  <span class="d-flex align-items-center"><a href="#"> <i class="fa fa-arrow-circle-left f-5"> </i></a>&nbsp;Voltar</span>
</div>
<div class="container">
  <div class="text-center">
  <h5 class="text-muted">DEPOIMENTOS</h5>
    <b><h2>O que os alunos dizem</h2></b>
  </div>
  <div class="text-center">
      <p>" O feedback dos nossos alunos é vital para nos ajudar a acertar. "</p>
  </div>
  <div class="d-flex mt-5 justify-content-center">
  <div class="card m-3" style="width: 20rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body d-flex flex-column">
      <p class="card-text">" Se não fosse a Professora Fabi eu não teria entrado na Federal do RS. "</p>
      <h6 class="card-title text-center mt-auto">Kênia Kingeski</h6>
    </div>
  </div>
  <div class="card m-3" style="width: 20rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body d-flex flex-column">
      <p class="card-text">" Queria dizer que todas as aulas que tive contigo foram as maravilhosas, aprendi muito, Graças a você tirei uma nota excelente na redação. "</p>
      <h6 class="card-title text-center mt-auto">Giovana Petredele</h6>
    </div>
  </div>
    <div class="card m-3" style="width: 20rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body d-flex flex-column">
      <p class="card-text">" Some quick example text to build on the card title and make up the bulk of the card's content. "</p>
      <h6 class="card-title text-center mt-auto">Deise Martins</h6>
    </div>
  </div>
</div>
</div>
